html
    head
        title User Listing
    body
        h1 User Listing

        form(id='mySearch', method='get', action='/search/')
            label(for='search')
            input(type='text', id='search', name='search')
            input(type='submit' id='submit' value="Search")

        table
            tr
                th First
                    a(href="/userListing/first")
                        i(class="fas fa-arrows-alt-v")
                th Last
                    a(href="/userListing/last")
                        i(class="fas fa-arrows-alt-v")
                th Email
                    a(href="/userListing/email")
                        i(class="fas fa-arrows-alt-v")
                th Age
                    a(href="/userListing/age")
                        i(class="fas fa-arrows-alt-v")
                th Edit
                th Delete
            each user in users
                tr
                    td #{user.first}
                    td #{user.last}
                    td #{user.email}
                    td #{user.age}
                    td
                        a(href='/editUser/' + user.id) edit
                    td
                        a(href='/deleteUser?id=' + user.id) delete
        a(href="/userListing") User Listing