html
    head
        title User Listing
    body
        h1 User Listing

        table
            tr
                th First
                th Last
                th Email
                th Age
                th Edit
                th Delete
            each user in users
                tr
                    td #{user.first}
                    td #{user.last}
                    td #{user.email}
                    td #{user.age}
                    td
                        a(href='/editUser/' + user.id) edit
                    td
                        a(href='/deleteUser?id=' + user.id) delete
        a(href="addUser") Add User